# 1. 依赖包 (Dependencies)
node_modules/
.pnpm-debug.log*

# 2. 编译产物 (Build Output)
dist/
dist-ssr/
*.local
*.tsbuildinfo

# 3. 日志与缓存 (Logs and Caches)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
.node_repl_history

# 4. 编辑器配置 (Editor)
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 5. 操作系统 (System)
.DS_Store
Thumbs.db

# 6. 环境变量 (Env - 重要：绝对不要提交)
.env
.env.*
!.env.example

# 7. 测试与覆盖率 (Testing)
coverage/
.nyc_output/